@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Just+Me+Again+Down+Here&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Signature;
  src: url("./fonts/AuthenticSignature.otf");
  font-display: swap;
}

body,
html {
  width: 100%;
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --text-color: #000;
  --background: #111;
  --secondary: #14cf93;
  --light-grey: #ececec;
  --dark-grey: #595959;
  --red: #ff6467;
  --blue: #51a2ff;
  --dark-blue: #10528b;
  --yellow: oklch(90.5% 0.182 98.111);

  --heading: 48px;
}

/* Font Classes */

.font-p {
  font-family: "Poppins", sans-serif;
}

.font-bg {
  font-family: "Bricolage Grotesque", sans-serif;
}

.font-j {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-s {
  font-family: "Signature", sans-serif;
}

/* Basic Common Styling */

section {
  width: 100%;
  position: relative;
  padding: 48px 5%;
}

section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.25;
  pointer-events: none;
}

section .inner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.section_header {
  text-align: center;
}

.section_header h1 {
  font-size: var(--heading);
  color: var(--text-color);
}

.header_highlight_text {
  color: var(--text-color);
  padding: 4px 8px;
  box-shadow: 4px 4px 0 var(--text-color);
}

/* Loader Styling */

.loader_screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero Section */

.section-hero {
  width: 100%;
  padding: 80px 5%;
  /* background-color: var(--background); */
}

.my_name {
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.my_name h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 100px;
  color: var(--text-color);
}

.star_img {
  height: 60px;
}

.hero_text_img {
  position: absolute;
}

.hero_text1 {
  max-width: 90px;
  top: 0;
  rotate: -4deg;
}

.hero_text2 {
  max-width: 300px;
  bottom: 0;
  rotate: 2deg;
}

.hero_visuals {
  width: 90%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.hero_image {
  transform: rotate(-4deg) scale(1.15);
  height: 100%;
  object-fit: cover;
}

.profile {
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  filter: drop-shadow(0 10px 40px rgba(0, 0, 0, 1));
}

.hero_quote {
  width: 90%;
  max-width: 500px;
  font-family: Signature;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
  font-size: 40px;
  text-align: center;
  line-height: 1;
  text-shadow: 4px 4px 4px #000;
  z-index: 9;
  color: #fff;
}

.hero_footer {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

.hero_footer p {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
}

/* Works Section */

.section-works .header_highlight_text {
  background-color: var(--red);
}

.works {
  width: 100%;
  margin-top: 5rem;
  overflow: hidden;
}

.works_track {
  display: flex;
  gap: 40px;
}

.work_card {
  width: 350px;
  height: 350px;
  border: 1px dashed red;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work_card:nth-of-type(even) {
  margin-top: 40px;
}

.work_card .media {
  width: 100%;
}

.work_card .media img {
  width: 100%;
}

.work_card .card-body {
  width: 100%;
}

.work_card .card-body h5 {
  font-size: 20px;
  color: var(--text-color);
}

.work_card .card-body p {
  font-size: 16px;
  margin-top: 8px;
}

/* Experience Section */

.section-experience .header_highlight_text {
  background-color: var(--blue);
}

.experiences {
  width: 100%;
  margin-top: 5rem;
}

.experience_card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid red; */
  padding: 1rem;
}

.experience_card img {
  max-width: 200px;
  background-color: var(--dark-blue);
  box-shadow: 4px 4px 0 #000;
  padding: 1rem;
}

.experience_card .card-body {
  width: 100%;
}

.experience_card .card-body h5 {
  font-size: 32px;
}

.experience_card .card-body p {
  font-size: 20px;
  margin-top: 8px;
}

/* About Section */

.section-about .header_highlight_text {
  background-color: var(--yellow);
}

.about_me {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
}

.about_me_left,
.about_me_right {
  width: 50%;
}

.about_me_right {
  height: 500px;
  position: sticky;
  top: 0;
}

.about_me_left p {
  font-size: 18px;
}

.about_me_left p strong {
  font-weight: 600;
}

.skills {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.skills span {
  font-size: 18px;
  padding: 4px 8px;
  background-color: var(--red);
  box-shadow: 4px 4px 0 #000;
  color: var(--text-color);
}

.skills:nth-of-type(2) span {
  background-color: var(--blue);
  color: #fff;
}

.skills:nth-of-type(3) span {
  rotate: 0deg !important;
}

.skills:nth-of-type(4) span {
  background-color: var(--secondary);
  color: #fff;
}

.skills span:nth-of-type(1) {
  rotate: 4deg;
}
.skills span:nth-of-type(2) {
  rotate: -2deg;
}
.skills span:nth-of-type(3) {
  rotate: 6deg;
}
.skills span:nth-of-type(4) {
  rotate: -4deg;
}

.section-contact .header_highlight_text {
  background-color: var(--secondary);
}

/* Contact Section */

.contact_body {
  margin-top: 3rem;
  width: 100%;
}

.social_links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 3rem;
  gap: 1rem;
}

.social_links a {
  font-size: 32px;
  background-color: var(--red);
  padding: 4px 8px;
  /* box-shadow: 4px 4px 0 #000; */
}
